{% extends "exp/test.html" %}
{% load static %}

{% block content %}
<h1>Cart Page</h1><br>
{% if cart %}
{% for item in cart %}
<h2>{{ item.product }}</h2>
<h3>Quantity : {{ item.product_qty }}</h3>
<form action="#" class="product_data">
    {% csrf_token %}
    <!-- <input type="hidden" id="prod_id_{{item.product.id}}" value="{{ item.product.id }}"> -->
    <input type="hidden" id="prod_id" value="{{ item.product.id }}">
    <button><a href="#" class="remove_from_cart">Remove from Cart</a></button><br>
    <button><a href="#" class="move_to_wishlist_from_cart">Move to Wishlist</a></button><br>
</form>
{% endfor %}
<br>
<button><a href="{% url 'exp:checkout' %}" class="go_to_checkout">Checkout</a></button><br>
{% else %}
<p>no items in your cart</p>
{% endif %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.remove_from_cart').on('click', function(){
            var prod_id = $(this).closest('.product_data').find('#prod_id').val()
            var token = $('input[name=csrfmiddlewaretoken]').val();
            console.log(prod_id)

            $.ajax({
                        method: 'POST',
                        url: 'remove_from_cart',
                        data: {
                            'prod_id': prod_id,
                            csrfmiddlewaretoken: token 
                        },
                        success: function (response) {
                            console.log('response')
                            console.log(response.status)
                            alert(response.status)
                            location.reload()
                        }
            });
            
        });

        $('.move_to_wishlist_from_cart').on('click', function(){
            var prod_id = $(this).closest('.product_data').find('#prod_id').val()
            var token = $('input[name=csrfmiddlewaretoken]').val();
            console.log(prod_id)

            $.ajax({
                        method: 'POST',
                        url: 'move_to_wishlist_from_cart',
                        data: {
                            'prod_id': prod_id,
                            csrfmiddlewaretoken: token 
                        },
                        success: function (response) {
                            console.log('response')
                            console.log(response.status)
                            alert(response.status)
                            location.reload()
                        }
            });
            
        });


    });
</script>
{% endblock %}