{% extends "exp/test.html" %}
{% load static %}

{% block content %}
<h1>this is checkout page</h1>
<form action="{% url 'exp:place_order' %}" method="post">
    {% csrf_token %}
    <label>First Name</label>
    <input type="text" placeholder="" name="fname"><br><br>
    <label>Last Name</label>
    <input type="text" placeholder="" name="lname"><br><br>
    <label>Email</label>
    <input type="email" placeholder="" name="email"><br><br>
    <label>Phone</label>
    <input type="text" placeholder="" name="phone"><br><br>
    <label>Address</label>
    <textarea type="text" placeholder="" name="address"></textarea><br><br>
    <label>City</label>
    <input type="text" placeholder="" name="city"><br><br>
    <label>State</label>
    <input type="text" placeholder="" name="state"><br><br>
    <label>Country</label>
    <input type="text" placeholder="" name="country"><br><br>
    <label>Pincode</label>
    <input type="text" placeholder="" name="pincode"><br><br>
    <input type="hidden" value="COD" name="payment_mode">

    {% if cart %}
    {% for item in cart %}
    <p><img src="{{ item.product.product_image_1.url }}" height="50px">
    {{ item.product.product_name }} --- Quantity: {{ item.product_qty }} --- Price: {{ item.product.selling_price }}</p>
    {% endfor %}
    <br><br>
    <b><p>total price: {{ total_price }}</p></b>
    <br><br>
    <input type="submit" value="Place Order"><br>

</form>
{% else %}
there are no products in your cart
{% endif %}
{% endblock %}