<h1>This is First Page</h1>
<p><a href="{% url 'exp:home' %}">Go to Home</a></p>
<p><a href="{% url 'exp:aboutus' %}">About Us</a></p>

{% if catg %}
{% for category in catg%}
<a href="{% url 'exp:product_list' category.id %}"><p><img src={{category.image.url}} height="50px" width="50px"><b>{{category.name}}</b>: {{category.description}}</p></a>
{% endfor %}
{% endif %}

{% if user.is_authenticated %}
<p>You are logged in</p>
{% else %}
<p>You are NOT logged in</p>
{% endif %}
<p>{{ user.username }}</p>
