{% extends "exp/test.html" %}
{% load static %}

{% block content %}
{% if error %}
{{ error }}
{% endif %} 


        <form method="post">
            {% csrf_token %}
            <div class="login-box">
                <div>
                  <p>Username</p>
                  <input type="text" class="login-input" id="username" name="username" />
                </div>
                <div>
                  <p>First Name</p>
                  <input type="text" class="login-input" id="fname" name="fname" />
                </div>
                <div>
                  <p>Last Name</p>
                  <input type="text" class="login-input" id="lname" name="lname" />
                </div>
                <div>
                  <p>Email</p>
                  <input type="email" class="login-input" id="email" name="email" />
                </div>
                <div>
                  <p>Password</p>
                  <input type="password" class="login-input" id="pass1" name="pass1" />
                </div>
                <div>
                  <p>Confirm New Password</p>
                  <input type="password" class="login-input" id="pass2" name="pass2" />
                </div>
                <div>
                  <button type="submit" class="register-button">Sign Up</button>
                  <!-- <a href="#" class="register-button">Register</a>-->
                </div>
            </div>

        </form>

         

{% endblock %}