{% extends "exp/test.html" %}
{% load static %}

{% block content %}
<h2 class="wishlist-banner">View your wishlist products</h2>
{% if wishlist %}
{% for item in wishlist %}
<div class="wishlist-box">
    <img src="{{ item.product.product_image_1.url }}" alt="Product-photo" class="wish-img" />
    <div class="wishlist-text">
    <a href="#" class="title">{{item.product.product_name}}</a>
    <p>Rs. {{ item.product.selling_price | floatformat:0 }}</p>
    <p>
        {{item.product.product_desciption}}
    </p>
    </div>
    <form action="#" class="product_data">
        {% csrf_token %}
        <input type="hidden" id="prod_id" value="{{ item.product.id }}">
        <div class="wishlist-buttons">
        <a href="#" class="remove_from_wishlist">Remove from Wishlist</a>
        <a href="#" class="move_to_cart_from_wishlist">Add to Cart</a>
        </div>
    </form>
</div>

{% endfor %}
{% else %}
<p>no items in your wishlist</p>
{% endif %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.remove_from_wishlist').on('click', function(){
            var prod_id = $(this).closest('.product_data').find('#prod_id').val()
            var token = $('input[name=csrfmiddlewaretoken]').val();
            console.log(prod_id)

            $.ajax({
                        method: 'POST',
                        url: 'remove_from_wishlist',
                        data: {
                            'prod_id': prod_id,
                            csrfmiddlewaretoken: token 
                        },
                        success: function (response) {
                            console.log('response')
                            console.log(response.status)
                            alert(response.status)
                            location.reload()
                        }
            });
        });

        $('.move_to_cart_from_wishlist').on('click', function(){
            var prod_id = $(this).closest('.product_data').find('#prod_id').val()
            var token = $('input[name=csrfmiddlewaretoken]').val();
            console.log(prod_id)

            $.ajax({
                        method: 'POST',
                        url: 'move_to_cart_from_wishlist',
                        data: {
                            'prod_id': prod_id,
                            csrfmiddlewaretoken: token 
                        },
                        success: function (response) {
                            console.log('response')
                            console.log(response.status)
                            alert(response.status)
                            location.reload()
                        }
            });
        });
        
        
    });
</script>
{% endblock %}
