{% extends "exp/test.html" %}
{% load static %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div class="login-box">
    {% for field in form %}
      {% if field.html_name == 'username' %}
        <div>
          <p>Enter User ID</p>
          <input name="{{ field.html_name }}" type="text" class="login-input"/> 
        </div>
      {% else %}
        <div>
          <p>Enter Password</p>
          <input type="password" name="{{ field.html_name }}" type="text" class="login-input"/> 
        </div>
      {% endif %}
    {% endfor %}
    <div>
      <input type="submit"class="login-buttons login" value="Login">
      <a href="{% url 'exp:signup' %}" class="login-buttons">Sign Up</a>
    </div>
  </div>
  

</form>

{% endblock %}
